<button id="totop-toggle" class="toggle"><i class="fa fa-angle-double-up" aria-hidden="true"></i></button>

<div>
    <link rel="stylesheet" type="text/css" href="/css/lnterception.css">
    <script src="/js/lnterception.js"></script>
<div id="popup" class="popup">
    <div class="popup-content">
        <div id="website-name"></div> <!-- 将 website-name 放在这里 -->
        <p style="color: black;">你即将前往：</p>
        <div id="website-url" style="color:rgb(43, 105, 100);"></div>
        <p style="color: black;">请注意你的账号财产安全！</p>
        <button id="cancel-btn" class="popup-btn">取消</button> <!-- 添加取消按钮 -->
        <button id="confirm-btn" class="popup-btn">确定</button> <!-- 添加确定按钮 -->
    </div>
</div>
</div>